html {
	font-size : 10px;
	font-family: Helvetica, Secular One, Arial, Average Sans, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

.dody {
	padding: 0;
	margin: 0px;
	border: 0;
}

.container {
	background-color: antiquewhite;
	display: flex;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	border: 0;
	font-size: 100%;
	font: inherit;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.searchmap {
	width: 100%;
}

.shadow {
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: rgba(146, 146, 146, 0.7);
	width: 80%;
	height: 60%;
	max-width: 650px;
	border-radius: 31px;
	border: 0;
}

.mapframe {
	display: flex;
	width: 80%;
	height: 80%;
}

#map {
	height: 80%;
	width: 100%;
}

.weatherview {
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
	padding : 10px;
	max-width: 650px;
	max-height: 500px;
	width: 80%;
	height: 80%;
}
.weatherview > div {
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 14px;
}
.cityname {
	font-size: 2.5rem;
	font-weight: bold;
}
.weathertxt {
	font-size: 1.8rem;
	font-weight: 400;
	color: #111111;
}
.weathersubtxt {
	font-size: 1.5rem;
	font-weight: 100;
}
.temperature {
	font-size: 3.5rem;
	font-weight: 300;
}
.temperaturefeel {
	font-size: 2.0rem;
	font-weight: 300;
}
.temperaturebox {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.txt {
	font-size: 1.5em;
	padding-right: 10px;
}
.weatherimg {
	flex: 1 0 450px;
	max-height: 100px;
	object-fit: cover;
}
#wicon {
	max-height: 100px;
	max-width: 100px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	overflow: hidden;
}
