* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: #ffffff;
}

#container {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color:rgb(21, 32, 43);
	margin: 0;
	padding: 0;
	border: 0 solid black;
	vertical-align: baseline;
	flex-basis: auto;
	flex-direction: column;
	position: relative;
	z-index: 0;
	font-size: 15px;
	overflow-y: scroll;
    overscroll-behavior-y: none;
	font-size: 15px;
	align-items: stretch;
    overflow-wrap: break-word;
}

#outframe {
	height: 100%;
	display: flex;
	margin: 0px;
	padding: 2px;
	
}
#menu {
	margin : 2px 2px;
	display: flex;
	justify-content: center;
	flex: 0 1 300px;
}
.menubar {
	width: 100%;
	margin-left: 25%;
}

.menulist {
	margin: 10px;
	padding: 10px;
	flex-direction: column;
	flex: 1;
	color: #ffffff;
}
.menulist > li:first-child {
	padding: 10px 0px;
}
.menuname {
	padding-bottom: 10px;
	list-style: none;
	font-size: 1.3rem;
}
#main {
	min-width: 600px;
	justify-content: center;
	flex: 1 0 450px;
}
#headerframe {
	padding: 0px 15px;
	height: 49px;
}
#title {
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: 1.3rem;
}
.line {
	border-top: solid 0.1px rgb(56, 68, 77);
	margin: 0px;
	padding: 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	width: 100%;
}
#outframe > div{
	margin: 0px;
	padding: 0px;
	flex: 1 0;
	border: solid 0.1px rgb(56, 68, 77);
}

#inputframe {
	padding: 5px 0px ;
	height: 15%;
	min-height: 130px;
	width: 100%;
	border-bottom: 1px solid rgb(56, 68, 77) ;
}
#input {
	padding: 0px 15px;
	height: 100%;
	display: flex;
}
.imgframe {
	margin-right: 10px;
	padding-top: 5px;
	flex: 0 0;
	height: 100%;
	width: 49px;

}
.profileimg {
	border-radius: 50%;
	width: 49px;
	height: 49px;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url('./src/avatar.png');
	background-color: #ffffff;
}

#twittareaframe {
	padding-top: 5px;
	height: 100%;
	flex: 1;
}

.twittextinput {
	border-width: 2px;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0);
	border-style: solid;
	display: inline-flex;
	flex:  0 0;
	align-items: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	font-weight: 400;
	color:#ffffff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	line-height: 1.3125;
	overflow-wrap: break-word;
	min-width: 0px;
	padding: 10px 0px;
}
.inputusername {
	color:#ffffff;
	max-height: 100px;
	background-color: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

#twittbuttonframe {
	margin: 0px 2px;
	max-height: 49px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	background-color: rgb(21, 32, 43);
}

.buttonframe {
	width: 100%;
	margin-top: 10px;
	align-items: center;
	flex-direction: row;
}
.twittbutton {
	margin-left: 10px;
	min-width: calc(62.79px);
	min-height: 39px;
	background-color: rgb(29, 161, 242);
	outline-style: none;
	border-radius: 9999px;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 1em;
	padding-right: 1em;
	border: 1px solid rgba(0, 0, 0, 0);
	opacity: 0.5;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	display:flex;
}

.buttontext {
	font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
	min-width: 0px;
    flex-direction: row;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
	display: flex;
	position: isolate;
}
.buttontext > div {
	overflow-wrap: break-word;
	max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	color: inherit;
	font: inherit;
	text-align: center;
}

.maineelement {
	border-bottom: 1px solid rgb(56, 68, 77);
	display: block;
	padding: 0px 10px;
	padding-left: 10px;
	margin: 0px ;
}
.articleframe {
	display: flex;
	flex-direction: row;
	margin: 0px 0px;
	padding: 10px 0px; 
	border-bottom: solid 1px rgb(56, 68, 77);
}

.article {
	padding-bottom: 10px;
	justify-content: center;
	flex: 1 1 0px;
}
.editprofile {
	margin-bottom: 2px;
	font-weight: 700;
}

.content {
	justify-content: center;
	font-weight: 400;
}

.articlebuttonframe {
	margin-top: 10px;
	max-width: 425px;
	justify-content: space-between;
	flex-direction: row;
	height: 19px;
}
.contentframe {
	display: flex;
	flex: 1 0;
	flex-direction: column;
	padding-bottom: 10px;
}
.bookmark {
	white-space: nowrap;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url('./src/bookmark.png');
	background-color: rgba(0, 0, 0, 0);
	justify-content: flex-start;
	color: rgb(136, 153, 166);
	transition-property: color;
    align-items: center;
	width: 20px;
	height: inherit;
	filter: invert(100%);
}