@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Noto+Sans+KR:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap');
.navbar .links
  opacity 100;

body
  font-family 'Roboto', sans-serif, 'Montserrat', sans-serif, 'Noto Sans KR', sans-serif, 'Open Sans', sans-serif;

h1
  color $accentColor

h2
  color $textColor

.navbar
  background #f7f7f7;
  opacity: 1 !important;

.sidebar
  background #f7f7f7;
  opacity: 1 !important;

.siteFooter
  background #20232a
  padding 30px 0
  font-size 13px
  color #fff
  text-align center

.imgContainer
  width: 50%
  height: 50%

