$accentColor = #2E3C7E
$textColor = #61dafb
$borderColor = #eaecef
$codeBgColor = #FBEAEB
$arrowBgColor = #ccc
$badgeTipColor = #61dafb
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 800px
$homePageWidth = 960px

$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px