$accentColor = #2BAE66
$textColor = #2E3C7E
$borderColor = #eaecef
$codeBgColor = #FBEAEB
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961


$navbarHeight = 3.6rem
$sidebarWidth = 18rem
$contentWidth = 780px
$homePageWidth = 960px

$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px